<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mohammedalrabeai.ali2">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Main2Activity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Show_Customers_Detile" />
        <activity android:name=".BaseDemoActivity" />
        <activity android:name=".ShowTable" />

        <activity android:name=".ShowTry" />
        <!--<activity-->
            <!--android:name=".Main2Activity"-->
            <!--android:label="@string/title_activity_main2"-->
            <!--android:theme="@style/AppTheme.NoActionBar"></activity>-->
        <activity android:name=".Show_Customers"/>
        <activity android:name=".ShowSale"/>
<activity android:name=".ShowDibet"/>
        <activity android:name=".SearchProd"/>
<activity android:name=".Add_List"/>
        <activity android:name=".MainActivity"/>
        <activity android:name=".MainActivity555"/>
        <activity android:name=".Show_Tajers"/>
        <activity android:name=".ShowOut" />
        <activity android:name=".main.presentation.activities.MainActivity5555" />

        <activity
            android:name=".main.presentation.activities.LinearLayoutActivity"
            android:theme="@style/AppTheme"/>

        <activity
            android:name=".main.presentation.activities.LinearLayoutHorizontalActivity"/>

        <activity
            android:name=".main.presentation.activities.GridLayoutActivity"/>

        <activity
            android:name=".main.presentation.activities.StaggeredGridLayoutActivity"/>
    </application>

</manifest>